@using WebApplication.Models;
@model List<BusCLS>

@{
    ViewBag.Title = "Index";
    List<SelectListItem> listaTipoBus = (List<SelectListItem>)ViewBag.listaTipoBus;
    List<SelectListItem> listaMarca = (List<SelectListItem>)ViewBag.listaMarca;
    List<SelectListItem> listaModelo = (List<SelectListItem>)ViewBag.listaModelo;
    List<SelectListItem> listaSucursal = (List<SelectListItem>)ViewBag.listaSucursal;
}

<h2>Buses</h2>

@using (Html.BeginForm("Index", "Bus", FormMethod.Post, new { @id = "frmBusquedaBus" }))
{
    <div class="col-12 mt-3">
        <table class="table table-hover clientsTable">
            <thead class="table-dark">
                <tr>
                    <td>@Html.LabelFor(p => Model[0].iidbus)</td>
                    <td>@Html.LabelFor(p => Model[0].nombreMarca)</td>
                    <td>@Html.LabelFor(p => Model[0].nombreModelo)</td>
                    <td>@Html.LabelFor(p => Model[0].placa)</td>
                    <td>@Html.LabelFor(p => Model[0].nombreTipoBus)</td>
                    <td>@Html.LabelFor(p => Model[0].nombreSucursal)</td>
                    <td>Operaciones</td>
                </tr>
                <tr>
                    <td>@Html.TextBox("iidbus", null, new { @class = "form-control", @placeholder = "Buscar por id", @onkeyup = "search()" })</td>

                    <td>@Html.DropDownList("iidMarca", listaMarca, new { @class = "form-control w-100 ms-2",
                       @onchange = "search()" })</td>

                    <td>@Html.DropDownList("iidModelo", listaModelo, new { @class = "form-control w-100 ms-2", @onchange="search()" })</td>

                    <td>@Html.TextBox("placa", null, new { @class = "form-control", @placeholder = "Buscar por matrícula", @onkeyup = "searchEnrollment()" })</td>

                    <td>@Html.DropDownList("iidTipoBus", listaTipoBus, new { @class = "form-control w-100 ms-2",
                       @onchange = "search()" })</td>

                    <td>@Html.DropDownList("iidSucursal", listaSucursal, new { @class = "form-control w-100 ms-2",
                       @onchange = "search()" })</td>
                    <td class="bg-dark"></td>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.iidbus</td>
                        <td>@item.nombreMarca</td>
                        <td>@item.nombreModelo</td>
                        <td>@item.placa</td>
                        <td>@item.nombreTipoBus</td>
                        <td>@item.nombreSucursal</td>
                        <td>
                            <div class="d-flex justify-content-evenly">
                                @Html.ActionLink(" ", "Editar", "Bus", new { id = @item.iidbus }, new { @id = item.iidbus, @class = "fas fa-edit btn btn-warning" })
                                <button type="button" class="btn btn-danger fas fa-trash-alt" data-bs-toggle="modal" data-bs-target="#DeleteBus" onclick="mostrarModalDelete(@item.iidbus)"></button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div class="col-12 d-flex justify-content-end">
    @Html.ActionLink("Agregar", "Agregar", "Bus", null, new { @class = "btn btn-primary mb-3 w-25" })
</div>

@using (Html.BeginForm("Borrar", "Bus", FormMethod.Post, new { @id = "frmDeleteBus" }))
{
    @Html.Hidden("iidBus");
}


<!-- Modal Confirmation  -->
<div class="modal fade" id="DeleteBus" tabindex="-1" role="dialog" aria-labelledby="DeleteBusTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteBusTitle">¿Desea borrar este bus?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success w-25" onclick="DeleteBus()">Aceptar</button>
                <button type="button" class="btn btn-danger w-25" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>

    function mostrarModalDelete(iidBus) {
        document.getElementById("iidBus").value = iidBus;
    }

    function DeleteBus() {

        const frmDeleteBus = document.getElementById("frmDeleteBus");

        frmDeleteBus.submit();
    }

    function search() {
        
        const frmBusquedaBus = document.getElementById("frmBusquedaBus");
        frmBusquedaBus.submit();
    }

    function searchEnrollment() {
        
        let inputEnrollmentValue = document.getElementById("enrollment").value;
        const frmBusquedaBus = document.getElementById("frmBusquedaBus");

        inputEnrollmentValue.length >= 7 && frmBusquedaBus.submit();
    }

</script>
