@using WebApplication.Models;
@model ClientesCLS

@{
    ViewBag.Title = "Editar";
    List<SelectListItem> listaSexo = (List<SelectListItem>)ViewBag.lista;
}

<h2>Editar Cliente</h2>

@using (Html.BeginForm("Editar", "Clientes", FormMethod.Post, new { @id = "frmEditarCliente" }))
{
<div class="row d-flex">
    <div class="col-6">
        <div>
            @Html.LabelFor(p => p.iidcliente)
            @Html.TextBoxFor(p => p.iidcliente, new { @class = "form-control mb-2", @readonly = true }) @* Esta linea crea un input tipo texto con la clase form-control mb-2*@
            @Html.ValidationMessage("iidcliente", new { @class = "text-danger" })
        </div>

        <div>
            @Html.LabelFor(p => p.nombre)
            @Html.TextBoxFor(p => p.nombre, new { @class = "form-control mb-2" }) @* Esta linea crea un input tipo texto con la clase form-control mb-2*@
            @Html.ValidationMessage("nombre", new { @class = "text-danger" })
            @if (Model != null && Model.mensajeError != null)
            {
                @Html.Label("", Model.mensajeError, new { @class = "text-danger" })
            }
        </div>

        <div>
            @Html.LabelFor(p => p.direccion)
            @Html.TextBoxFor(p => p.direccion, new { @class = "form-control mb-2" })
            @Html.ValidationMessage("direccion", new { @class = "text-danger" })
        </div>

        <div>
            @Html.LabelFor(p => p.telefonofijo)
            @Html.TextBoxFor(p => p.telefonofijo, new { @class = "form-control mb-2" })
            @Html.ValidationMessage("telefonofijo", new { @class = "text-danger" })
        </div>

    </div>

    <div class="col-6">
        <div>
            @Html.LabelFor(p => p.iidsexo)
            @Html.DropDownList("iidsexo", listaSexo, null, new { @class = "form-control mb-2" })
            @Html.ValidationMessage("iidsexo", new { @class = "text-danger" })
        </div>

        <div class="col-12 d-flex">
            <div class="col-6 pe-2">
                @Html.LabelFor(p => p.appaterno)
                @Html.TextBoxFor(p => p.appaterno, new { @class = "form-control mb-2" })
                @Html.ValidationMessage("appaterno", new { @class = "text-danger" })
            </div>

            <div class="col-6 ps-2">
                @Html.LabelFor(p => p.apmaterno)
                @Html.TextBoxFor(p => p.apmaterno, new { @class = "form-control mb-2" }) @* Esta linea crea un input tipo texto con la clase form-control mb-2*@
                @Html.ValidationMessage("apmaterno", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            @Html.LabelFor(p => p.email)
            @Html.TextBoxFor(p => p.email, new { @class = "form-control mb-2" }) @* Esta linea crea un input tipo texto con la clase form-control mb-2*@
            @Html.ValidationMessage("email", new { @class = "text-danger" })
        </div>

        <div>
            @Html.LabelFor(p => p.telefonocelular)
            @Html.TextBoxFor(p => p.telefonocelular, new { @class = "form-control" }) @* Esta linea crea un input tipo texto con la clase form-control mb-2*@
            @Html.ValidationMessage("telefonocelular", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-12 d-flex justify-content-between mt-3">
        @Html.ActionLink("Atrás", "Index", "Clientes", null, new { @class = "btn btn-info w-25", @style = "color:white;" })
        <button type="button" class="btn btn-primary w-25" data-bs-toggle="modal" data-bs-target="#confirmationEditClient">Guardar</button>
    </div>
</div>
}

<!-- Modal Confirmation  -->
<div class="modal fade" id="confirmationEditClient" tabindex="-1" role="dialog" aria-labelledby="confirmationEditClientTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationEditClientTitle">¿Desea guardar los cambios?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success w-25" onclick="EditarCliente()">Aceptar</button>
                <button type="button" class="btn btn-danger w-25" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>

    function EditarCliente() {

        const frmEditarCliente = document.getElementById("frmEditarCliente");

        frmEditarCliente.submit();

    }

</script>
