@using WebApplication.Models;
@model List<ClientesCLS>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<div class="mt-3">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <td>@Html.LabelFor(p => Model[0].iidcliente)</td>
                <td>@Html.LabelFor(p => Model[0].nombre)</td>
                <td>@Html.LabelFor(p => Model[0].appaterno)</td>
                <td>@Html.LabelFor(p => Model[0].direccion)</td>
                <td>@Html.LabelFor(p => Model[0].email)</td>
                <td>@Html.LabelFor(p => Model[0].iidsexo)</td>
                <td>@Html.LabelFor(p => Model[0].telefonofijo)</td>
                <td>@Html.LabelFor(p => Model[0].telefonocelular)</td>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.iidcliente</td>
                    <td>@item.nombre</td>
                    <td>@item.appaterno @item.apmaterno</td>
                    <td>@item.direccion</td>
                    <td>@item.email</td>

                    @if (item.iidsexo == 1)
                    {
                        <td>Hombre</td>

                    }
                    else
                    {
                        <td>Mujer</td>
                    }

                    <td>@item.telefonofijo</td>
                    <td>@item.telefonocelular</td>
                </tr>

            }
        </tbody>
    </table>
</div>

<div class="col-12 d-flex justify-content-end">
    @Html.ActionLink("Agregar", "Agregar", "Clientes", null, new { @class = "btn btn-primary mb-3" })
</div>

