@using WebApplication.Models;

@model List<MarcaCLS>

@{
    ViewBag.Title = "Index";
}

<h2>Marcas</h2>


@using (Html.BeginForm("Index", "Marca", FormMethod.Post))
{
    <label>Buscar por marca</label>
    <div class="row">
        <div class="col-9">
            @Html.TextBox("nombre")
        </div>
        <div class="col-3">
            <input type="submit" class="btn btn-success w-100" value="Buscar"/>
        </div>
    </div>
    <div class="mt-3">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <td width="10%">@Html.LabelFor(p => Model[0].iidmarca)</td> <!--Esto está haciendo referencia al display del modelo, donde se establecio el Name por defecto de esa columna-->
                    <td width="20%">@Html.LabelFor(p => Model[0].nombre)</td>
                    <td width="60%">@Html.LabelFor(p => Model[0].descripcion)</td>
                    <td width="10%" class="text-center">Operaciones</td>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.iidmarca</td>
                        <td>@item.nombre</td>
                        <td>@item.descripcion</td>
                        <td>
                            <div class="d-flex justify-content-around">
                                @Html.ActionLink(" ", "Editar", "Marca", new { id = @item.iidmarca }, new { @id = item.iidmarca, @class = "fas fa-edit btn btn-warning" })
                                @Html.ActionLink(" ", "Borrar", "Marca", new { id = @item.iidmarca }, new { @id = item.iidmarca, @class = "fas fa-trash-alt btn btn-danger", @onclick = "OpenModalDeleteBrand()" })
                            </div>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
}

<div class="col-12 d-flex justify-content-end">
    @Html.ActionLink("Agregar", "Agregar", "Marca", null, new { @class = "btn btn-primary mb-3" })
</div>


<div class="modal fade" id="confirmationDeleteBrand" tabindex="-1" role="dialog" aria-labelledby="confirmationDeleteBrandTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationDeleteBrandTitle">¿Desea borrar esta marca?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success w-25" onclick="BorrarMarca()">Aceptar</button>
                <button type="button" class="btn btn-danger w-25" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>


    function OpenModalDeleteBrand() {

        $("#confirmationDeleteBrand").modal("show");
    }

    function BorrarMarca() {

        const frmEditBus = document.getElementById("frmEditBus");

        frmEditBus.submit();

    }

</script>
